<div class="card m-3" data-bs-theme="dark">
    <a class="text-light" href="/api/post/{{id}}">
        <div class="card-header">
            {{title}}
        </div>
    </a>
    <div class="card-footer">
        <div class="text-container">
            {{format_date createdAt}}
        </div>
    </div>

</div>