<div class="container-fluid m-auto vh-100" data-bs-theme="dark">
  <div class="position-relative">
    <div class="bottom-0 start-50">
      <button type="button" class="btn btn-light mb-3 mt-3" id="create-btn">
        Create New Post
      </button>
       <button type="button" class="btn btn-light mb-3 mt-3" id="delete-btn">
        Delete Post
      </button>
       <button type="button" class="btn btn-light mb-3 mt-3" id="update-btn">
        Update Post
      </button>
    </div>
  </div>

  <div class="m-5 hide">
    <div class="row" id="post-form">
      <h2 class="text-secondary">Create New Post</h2>
      <div class="input-group m-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        <input type="text" id="title" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="form-floating m-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="description"
          style="height: 100px"></textarea>
        <label for="floatingTextarea2"></label>
      </div>

      <button type="button" class="btn btn-dark btn-width" id="post-Btn">
        Create
      </button>
    </div>
  </div>

  {{#if posts.length}}
    {{#each posts as |post|}}
      {{> post-details post}}
    {{/each}}
  {{else}}
    <h2 class="text-secondary m-5">No Current posts</h2>
  {{/if}}

</div>

<script src="../js/dashboard.js"></script>