<div class="container-fluid m-auto vh-100" data-bs-theme="dark">
  <div class="position-relative">
    <div class="position-absolute bottom-0 start-50 translate-middle-x">
      <button type="button" class="btn btn-secondary">
        Create New Post
      </button>
    </div>
  </div>
</div>

<script src="../js/dashboard.js"></script>