<div class="container-fluid" data-bs-theme="dark">
  <div class="d-flex justify-content-between">
    <div class="card w-25 mx-2">
      <div class="card-body">
        <h5 class="card-title fw-bold">Profile</h5>
        <p class="card-text p-3 text-secondary">View your profile details</p>
        <a href="#" class="btn btn-secondary btn-sm">Go to profile</a>
      </div>
    </div>

    <div class="card w-25 mx-2">
      <div class="card-body">
        <h5 class="card-title">My posts</h5>
        <p class="card-text p-3 text-secondary">View my posts</p>
        <a href="#" class="btn btn-secondary btn-sm">Go to my blog</a>
      </div>
    </div>

    <div class="card w-25 mx-2">
      <div class="card-body">
        <h5 class="card-title fw-bold">Create new blog post</h5>
        <p class="card-text p-3 text-secondary">Add new post</p>
        <a href="#" class="btn btn-secondary btn-sm">Go somewhere</a>
      </div>
    </div>
  </div>
</div>