<div class="container-fluid m-auto vh-100" data-bs-theme="dark">
  <div class="position-relative">
    <div class="bottom-0 start-50">
      <button type="button" class="btn btn-light mb-3 mt-3 db-btn-w" id="back-btn">
        Back
      </button>
      <button type="button" class="btn btn-light mb-3 mt-3 hide db-btn-w" id="back-to-db-btn">
        Back
      </button>
      <button type="button" class="btn btn-light mb-3 mt-3 db-btn-w" id="create-btn">
        Create
      </button>
      <button type="button" class="btn btn-light mb-3 mt-3 db-btn-w" id="delete-btn">
        Delete
      </button>
      <button type="button" class="btn btn-light mb-3 mt-3 db-btn-w" id="update-btn">
        Update
      </button>
    </div>
  </div>

  <div class="m-2 hide">
    <div class="row" id="post-form">
      <h3 class="text-light">Create New Post</h3>
      <div class="input-group m-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        <input type="text" id="title" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="form-floating m-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="description"
          style="height: 100px"></textarea>
        <label for="floatingTextarea2"></label>
      </div>

      <button type="button" class="btn btn-light btn-width mb-3" id="post-Btn">
        Create
      </button>
    </div>
  </div>


  {{#if posts.length}}
  {{#each posts as |post|}}
  {{> post-details post}}
  {{/each}}
  {{else}}
  <h2 class="text-secondary m-5">You have no posts</h2>
  {{/if}}


  <div class="m-5 hide">
    <div class="row" id="update-post-form">
      <h3 class="text-light">Update Selected Post</h3>
      <div class="input-group m-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        <input type="text" id="post-title" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="form-floating m-3">
        <textarea class="form-control" id="post-description" style="height: 100px"></textarea>
        <label for="post-description"></label>
      </div>

      <button type="button" class="btn btn-light btn-width mb-5 text-dark" id="update-post-Btn">
        Update
      </button>
    </div>
  </div>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="updateToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Webdev Wizardry</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body text-light">
        Please select post to update.
      </div>
    </div>
  </div>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="deleteToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Webdev Wizardry</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body text-light">
        Please select post to delete.
      </div>
    </div>
  </div>

</div>

<script src="/js/logout.js"></script>
<script src="../js/dashboard.js"></script>
<script src="/js/home.js"></script>