<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card text-center m-3">
        <div class="card-header">
          Choose One
        </div>

        <div class="card-body">
          <a href="/api/login" class="btn btn-dark" id="login-btn">Login</a>
          <a href="/api/register" class="btn btn-dark" id="register-btn">Sign Up</a>
        </div>
      </div>

    {{#if posts.length}}
      {{#each posts as |post|}}
        {{> post-details post}}
      {{/each}}
    {{else}}
      <h2 class="text-secondary m-5">No Current posts</h2>
    {{/if}}
    </div>
  </div>
</div>

<script src="../js/home.js"></script>