<div class="container-fluid">
  <h2 class="text-light">Welcome Back</h2>
  <form>
    {{!--login form--}}
    <div class="mb-3 text-light">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text text-secondary">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3 text-secondary">
      <label for="exampleInputPassword1" class="form-label text-light">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-light text-dark" id="login-btn" >Login</button>
  </form>
</div>

{{!--hidden toast--}}
<div class="toast-container position-fixed bottom-0 end-0 p-3" data-bs-theme="dark">
  <div id="loginToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Webdev Wizardry</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-secondary">
      Incorrect email or password.
    </div>
  </div>
</div>

<script src="/js/logout.js"></script> 
<script src="/js/login.js"></script>
<script src="/js/home.js"></script>