<div class="container-fluid">
  <h1 class="text-secondary">Welcome Back</h1>
  <form>
    <div class="mb-3 text-secondary">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text text-secondary">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3 text-secondary">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-dark text-secondary" id="login-btn" >Login</button>
  </form>
</div>