
{{> post-details post}}

<button type="button" class="btn btn-dark btn-width m-4" id="comment-Btn">
  Add Comment
</button>

<div class="m-5">
  <div class="row hide" id="comment-form">
    <h2 class="text-secondary text-center">Add Comment</h2>
    <div class="form-floating m-3">
      <textarea class="form-control" placeholder="Leave a comment here" id="description"
        style="height: 100px"></textarea>
      <label for="floatingTextarea2"></label>
    </div>

    <button type="button" class="btn btn-dark btn-width m-4" id="post-Btn">
      Create
    </button>
  </div>
</div>

<div class="card m-3" data-bs-theme="light">
  <div class="card-body">

  </div>

  <div class="card-footer">

  </div>
</div>

<script src="../js/post.js"></script>