<div class="container-fluid">
  <h2 class="text-light">Welcome</h2>
  <form>
    <div class="row">
      <div class="col mb-3 text-light">
        {{!--registration form--}}
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first-name" placeholder="First name" aria-label="First name">
      </div>

      <div class="col mb-3 text-light">
        <label for="lastName" class="form-label" >Last Name</label>
        <input type="text" class="form-control" id="last-name" placeholder="Last name" aria-label="Last name">
      </div>
    </div>

    <div class="mb-3 text-light">
      <label for="exampleInputEmail1" class="form-label" >Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text text-secondary">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3 text-light">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-light text-dark" id="register-btn">Sign Up</button>
  </form>
</div>

{{!--hidden toast--}}
<div class="toast-container position-fixed bottom-0 end-0 p-3" data-bs-theme="dark">
  <div id="registerToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Webdev Wizardry</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-secondary">
      User already exists.
    </div>
  </div>
</div>

<script src="../js/register.js"></script>
<script src="/js/home.js"></script>
<script src="/js/logout.js"></script>