body {
    background: linear-gradient(to top, #000000, #767676);
    font-family: Arial, sans-serif;
    background-attachment: fixed;
    height: 100vh;
    /* Ensure the gradient covers the entire viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 50px;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

.btn-width {
    width: 200px;
    margin-left: auto;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.text-container {
    margin-right: 10px; 
}
  
.button-container {
    display: flex;
}
  
.button-container button {
    margin-left: 10px; 
}
